In [18]:
import pandas as pd
import requests
from pprint import pprint
from census import Census
from api import geoapify_key, weather_api_key, census_key
from api2 import c2
#print(c2)

d916d35763f5b24a3b9234df77e3a64b23ee6693

In [37]:

years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
poverty_data = []

#census api definitions: https://api.census.gov/data/2017/acs/acs5/groups/B17001.html
#B17001_001E = Sample population
#B17001_002E = Income in the past 12 months below poverty level
    #B17001_017E = Income in the past 12 months below poverty level!!Female
        #B17001_018E = Income in the past 12 months below poverty level!!Female!!Under 5 years
        #B17001_019E = Income in the past 12 months below poverty level!!Female!!5 years
        #B17001_020E = Income in the past 12 months below poverty level!!Female!!6 to 11 years
        #B17001_021E = Income in the past 12 months below poverty level!!Female!!12 to 14 years
        #B17001_022E = Income in the past 12 months below poverty level!!Female!!15 years
        #B17001_023E = Income in the past 12 months below poverty level!!Female!!16 and 17 years
        #B17001_024E = Income in the past 12 months below poverty level!!Female!!18 to 24 years
        #B17001_025E = Income in the past 12 months below poverty level!!Female!!25 to 34 years
        #B17001_026E = Income in the past 12 months below poverty level!!Female!!35 to 44 years
        #B17001_027E = Income in the past 12 months below poverty level!!Female!!45 to 54 years
        #B17001_028E = Income in the past 12 months below poverty level!!Female!!55 to 64 years
        #B17001_029E = Income in the past 12 months below poverty level!!Female!!65 to 74 years
        #B17001_030E = Income in the past 12 months below poverty level!!Female!!75 years and over
    #B17001_003E = Income in the past 12 months below poverty level!!Male
        #B17001_004E = Income in the past 12 months below poverty level!!Male!!Under 5 years
        #B17001_005E = Income in the past 12 months below poverty level!!Male!!5 years
        #B17001_006E = Income in the past 12 months below poverty level!!Male!!6 to 11 years
        #B17001_007E = Income in the past 12 months below poverty level!!Male!!12 to 14 years
        #B17001_008E = Income in the past 12 months below poverty level!!Male!!15 years
        #B17001_009E = Income in the past 12 months below poverty level!!Male!!16 and 17 years
        #B17001_010E = Income in the past 12 months below poverty level!!Male!!18 to 24 years
        #B17001_011E = Income in the past 12 months below poverty level!!Male!!25 to 34 years
        #B17001_012E = Income in the past 12 months below poverty level!!Male!!35 to 44 years
        #B17001_013E = Income in the past 12 months below poverty level!!Male!!45 to 54 years
        #B17001_014E = Income in the past 12 months below poverty level!!Male!!55 to 64 years
        #B17001_015E = Income in the past 12 months below poverty level!!Male!!65 to 74 years
        #B17001_016E = Income in the past 12 months below poverty level!!Male!!75 years and over
for year in years:
    c = Census(census_key, year)
    state_county_data = c.acs5.get(
        ("B17001_001E",
         "B17001_002E",
         "B17001_017E",
         "B17001_018E",
         "B17001_019E",
         "B17001_020E",
         "B17001_021E",
         "B17001_022E",
         "B17001_023E",
         "B17001_024E",
         "B17001_025E",
         "B17001_026E",
         "B17001_027E",
         "B17001_028E",
         "B17001_029E",
         "B17001_030E",
         "B17001_003E",
         "B17001_004E",
         "B17001_005E",
         "B17001_006E",
         "B17001_007E",
         "B17001_008E",
         "B17001_009E",
         "B17001_010E",
         "B17001_011E",
         "B17001_012E",
         "B17001_013E",
         "B17001_014E",
         "B17001_015E",
         "B17001_016E",
         "B01003_001E"),
        {'for': 'county:*'},
    )

    print(f"Fetching Data for {year}")

    # Convert to DataFrame
    df = pd.DataFrame(state_county_data)
    df['year'] = year
    poverty_data.append(df)

# Concatenate the list of DataFrames into a single DataFrame
merged_df = pd.concat(poverty_data, ignore_index=True)

# Print the merged DataFrame
print(merged_df)

Fetching Data for 2010
Fetching Data for 2011
Fetching Data for 2012
Fetching Data for 2013
Fetching Data for 2014
Fetching Data for 2015
Fetching Data for 2016
Fetching Data for 2017
Fetching Data for 2018
Fetching Data for 2019
Fetching Data for 2020
Fetching Data for 2021
       B17001_001E  B17001_002E  B17001_017E  B17001_018E  B17001_019E  \
0          44247.0      21672.0      11763.0        916.0        187.0
1         246260.0      53738.0      28239.0       3470.0        608.0
2         130057.0      12948.0       6632.0        457.0         83.0
3           9268.0       1709.0       1044.0        106.0         20.0
4          13853.0       1664.0        694.0         92.0          0.0
...            ...          ...          ...          ...          ...
38641      54242.0      23520.0      12739.0        723.0         90.0
38642       8317.0       4425.0       2278.0        146.0         64.0
38643      22207.0       9881.0       5401.0        303.0         86.0
38644      31042.0      16335.0       8726.0        363.0        152.0
38645      34557.0      16048.0       8385.0        192.0         60.0

       B17001_020E  B17001_021E  B17001_022E  B17001_023E  B17001_024E  ...  \
0            801.0        741.0        184.0        384.0       1222.0  ...
1           3841.0       1758.0        488.0        986.0       3917.0  ...
2            620.0        425.0         72.0        261.0        710.0  ...
3            107.0        100.0         69.0         30.0        107.0  ...
4            122.0         14.0          0.0          0.0        165.0  ...
...            ...          ...          ...          ...          ...  ...
38641        736.0        420.0        237.0        264.0       1191.0  ...
38642        183.0         59.0         76.0         22.0        449.0  ...
38643        612.0        110.0         70.0         87.0        532.0  ...
38644        651.0        246.0        227.0        187.0        876.0  ...
38645        678.0        403.0         93.0        134.0        653.0  ...

       B17001_011E  B17001_012E  B17001_013E  B17001_014E  B17001_015E  \
0           1135.0       1060.0        994.0        868.0        697.0
1           3243.0       2399.0       1616.0       1131.0        588.0
2            901.0        681.0        854.0        752.0        297.0
3            102.0         36.0         81.0        124.0         21.0
4            206.0        111.0         34.0         73.0         13.0
...            ...          ...          ...          ...          ...
38641       1468.0       1084.0       1264.0       1389.0        956.0
38642        326.0         98.0        102.0        284.0        261.0
38643        522.0        439.0        533.0        551.0        401.0
38644        722.0       1065.0        810.0        836.0        937.0
38645        713.0        574.0        833.0       1236.0        781.0

       B17001_016E  B01003_001E  state  county  year
0            644.0      44631.0     72     091  2010
1            433.0     250699.0     06     047  2010
2            361.0     134051.0     06     055  2010
3             13.0       9605.0     06     049  2010
4              0.0      13905.0     06     051  2010
...            ...          ...    ...     ...   ...
38641        924.0      54544.0     72     145  2021
38642        146.0       8317.0     72     147  2021
38643        277.0      22341.0     72     149  2021
38644        479.0      31047.0     72     151  2021
38645        801.0      34704.0     72     153  2021

[38646 rows x 34 columns]

In [38]:
merged_df.head()

,B17001_001E,B17001_002E,B17001_017E,B17001_018E,B17001_019E,B17001_020E,B17001_021E,B17001_022E,B17001_023E,B17001_024E,...,B17001_011E,B17001_012E,B17001_013E,B17001_014E,B17001_015E,B17001_016E,B01003_001E,state,county,year
0,44247.0,21672.0,11763.0,916.0,187.0,801.0,741.0,184.0,384.0,1222.0,...,1135.0,1060.0,994.0,868.0,697.0,644.0,44631.0,72,091,2010
1,246260.0,53738.0,28239.0,3470.0,608.0,3841.0,1758.0,488.0,986.0,3917.0,...,3243.0,2399.0,1616.0,1131.0,588.0,433.0,250699.0,06,047,2010
2,130057.0,12948.0,6632.0,457.0,83.0,620.0,425.0,72.0,261.0,710.0,...,901.0,681.0,854.0,752.0,297.0,361.0,134051.0,06,055,2010
3,9268.0,1709.0,1044.0,106.0,20.0,107.0,100.0,69.0,30.0,107.0,...,102.0,36.0,81.0,124.0,21.0,13.0,9605.0,06,049,2010
4,13853.0,1664.0,694.0,92.0,0.0,122.0,14.0,0.0,0.0,165.0,...,206.0,111.0,34.0,73.0,13.0,0.0,13905.0,06,051,2010

In [39]:
minnesota_data_raw = merged_df.loc[merged_df['state'] == '27']

In [89]:
minnesota_data = minnesota_data_raw.rename(columns={
                      "B17001_001E" : "Sample Population",
                      "B17001_002E" : "Population Poverty",
                      "B17001_017E" : "Females Poverty",
                      "B17001_018E" : "Females < 5 Poverty",
                      "B17001_019E" : "Females 5 Poverty",
                      "B17001_020E" : "Females 6 to 11 Poverty",
                      "B17001_021E" : "Females 12 to 14 Poverty",
                      "B17001_022E" : "Females 15 Poverty",
                      "B17001_023E" : "Females 16 to 17 Poverty",
                      "B17001_024E" : "Females 18 to 24 Poverty",
                      "B17001_025E" : "Females 25 to 34 Poverty",
                      "B17001_026E" : "Females 35 to 44 Poverty",
                      "B17001_027E" : "Females 45 to 54 Poverty",
                      "B17001_028E" : "Females 55 to 64 Poverty",
                      "B17001_029E" : "Females 65 to 74 Poverty",
                      "B17001_030E" : "Females 75 > Poverty",
                      "B17001_003E" : "Males Poverty",
                      "B17001_004E" : "Males < 5 Poverty",
                      "B17001_005E" : "Males 5 Poverty",
                      "B17001_006E" : "Males 6 to 11 Poverty",
                      "B17001_007E" : "Males 12 to 14 Poverty",
                      "B17001_008E" : "Males 15 Poverty",
                      "B17001_009E" : "Males 16 to 17 Poverty",
                      "B17001_010E" : "Males 18 to 24 Poverty",
                      "B17001_011E" : "Males 25 to 34 Poverty",
                      "B17001_012E" : "Males 35 to 44 Poverty",
                      "B17001_013E" : "Males 45 to 54 Poverty",
                      "B17001_014E" : "Males 55 to 64 Poverty",
                      "B17001_015E" : "Males 65 to 74 Poverty",
                      "B17001_016E" : "Males 75 > Poverty",
                      "B01003_012E" : "Total Population", 
                      "state" : "state code",
                      "county" : "county code"
                      })
#Create a column for the state
minnesota_data.insert(32, 'state', 'MN')

#Create a column for the counties using the county codes
    # 27001        Aitkin County
    # 27003        Anoka County
    # 27005        Becker County
    # 27007        Beltrami County
    # 27009        Benton County
    # 27011        Big Stone County
    # 27013        Blue Earth County
    # 27015        Brown County
    # 27017        Carlton County
    # 27019        Carver County
    # 27021        Cass County
    # 27023        Chippewa County
    # 27025        Chisago County
    # 27027        Clay County
    # 27029        Clearwater County
    # 27031        Cook County
    # 27033        Cottonwood County
    # 27035        Crow Wing County
    # 27037        Dakota County
    # 27039        Dodge County
    # 27041        Douglas County
    # 27043        Faribault County
    # 27045        Fillmore County
    # 27047        Freeborn County
    # 27049        Goodhue County
    # 27051        Grant County
    # 27053        Hennepin County
    # 27055        Houston County
    # 27057        Hubbard County
    # 27059        Isanti County
    # 27061        Itasca County
    # 27063        Jackson County
    # 27065        Kanabec County
    # 27067        Kandiyohi County
    # 27069        Kittson County
    # 27071        Koochiching County
    # 27073        Lac qui Parle County
    # 27075        Lake County
    # 27077        Lake of the Woods County
    # 27079        Le Sueur County
    # 27081        Lincoln County
    # 27083        Lyon County
    # 27085        McLeod County
    # 27087        Mahnomen County
    # 27089        Marshall County
    # 27091        Martin County
    # 27093        Meeker County
    # 27095        Mille Lacs County
    # 27097        Morrison County
    # 27099        Mower County
    # 27101        Murray County
    # 27103        Nicollet County
    # 27105        Nobles County
    # 27107        Norman County
    # 27109        Olmsted County
    # 27111        Otter Tail County
    # 27113        Pennington County
    # 27115        Pine County
    # 27117        Pipestone County
    # 27119        Polk County
    # 27121        Pope County
    # 27123        Ramsey County
    # 27125        Red Lake County
    # 27127        Redwood County
    # 27129        Renville County
    # 27131        Rice County
    # 27133        Rock County
    # 27135        Roseau County
    # 27137        St. Louis County
    # 27139        Scott County
    # 27141        Sherburne County
    # 27143        Sibley County
    # 27145        Stearns County
    # 27147        Steele County
    # 27149        Stevens County
    # 27151        Swift County
    # 27153        Todd County
    # 27155        Traverse County
    # 27157        Wabasha County
    # 27159        Wadena County
    # 27161        Waseca County
    # 27163        Washington County
    # 27165        Watonwan County
    # 27167        Wilkin County
    # 27169        Winona County
    # 27171        Wright County
    # 27173        Yellow Medicine County
county_mapping = {'001': 'Aitkin', '003': 'Anoka', '005': 'Becker', '007': 'Beltrami', '009': 'Benton',
                  '011': 'Big Stone', '013': 'Blue Earth', '015': 'Brown', '017': 'Carlton', '019': 'Carver',
                  '021': 'Cass', '023': 'Chippewa', '025': 'Chisago', '027': 'Clay', '029': 'Clearwater',
                  '031': 'Cook', '033': 'Cottonwood', '035': 'Crow Wing', '037': 'Dakota', '039': 'Dodge',
                  '041': 'Douglas', '043': 'Faribault', '045': 'Fillmore', '047': 'Freeborn', '049': 'Goodhue',
                  '051': 'Grant', '053': 'Hennepin', '055': 'Houston', '057': 'Hubbard', '059': 'Isanti',
                  '061': 'Itasca', '063': 'Jackson', '065': 'Kanabec', '067': 'Kandiyohi', '069': 'Kittson',
                  '071': 'Koochiching', '073': 'Lac qui Parle', '075': 'Lake', '077': 'Lake of the Woods', '079': 'Le Sueur',
                  '081': 'Lincoln', '083': 'Lyon', '085': 'McLeod', '087': 'Mahnomen', '089': 'Marshall',
                  '091': 'Martin', '093': 'Meeker', '095': 'Mille Lacs', '097': 'Morrison', '099': 'Mower',
                  '101': 'Murray', '103': 'Nicollet', '105': 'Nobles', '107': 'Norman', '109': 'Olmsted',
                  '111': 'Otter Tail', '113': 'Pennington', '115': 'Pine', '117': 'Pipestone', '119': 'Polk',
                  '121': 'Pope', '123': 'Ramsey', '125': 'Red Lake', '127': 'Redwood', '129': 'Renville',
                  '131': 'Rice', '133': 'Rock', '135': 'Roseau', '137': 'St. Louis', '139': 'Scott',
                  '141': 'Sherburne', '143': 'Sibley', '145': 'Stearns', '147': 'Steele', '149': 'Stevens',
                  '151': 'Swift', '153': 'Todd', '155': 'Traverse', '157': 'Wabasha', '159': 'Wadena',
                  '161': 'Waseca', '163': 'Washington', '165': 'Watonwan', '167': 'Wilkin', '169': 'Winona',
                  '171': 'Wright', '173': 'Yellow Medicine'
}
#minnesota_data['county'] = pd.Series()
print(minnesota_data.shape)
minnesota_data.insert(34, 'county', "")
print(minnesota_data.columns)

minnesota_data['county'] = minnesota_data['county code'].map(county_mapping)


minnesota_data.head(5)

(1044, 35)
Index(['Sample Population', 'Population Poverty', 'Females Poverty',
       'Females < 5 Poverty', 'Females 5 Poverty', 'Females 6 to 11 Poverty',
       'Females 12 to 14 Poverty', 'Females 15 Poverty',
       'Females 16 to 17 Poverty', 'Females 18 to 24 Poverty',
       'Females 25 to 34 Poverty', 'Females 35 to 44 Poverty',
       'Females 45 to 54 Poverty', 'Females 55 to 64 Poverty',
       'Females 65 to 74 Poverty', 'Females 75 > Poverty', 'Males Poverty',
       'Males < 5 Poverty', 'Males 5 Poverty', 'Males 6 to 11 Poverty',
       'Males 12 to 14 Poverty', 'Males 15 Poverty', 'Males 16 to 17 Poverty',
       'Males 18 to 24 Poverty', 'Males 25 to 34 Poverty',
       'Males 35 to 44 Poverty', 'Males 45 to 54 Poverty',
       'Males 55 to 64 Poverty', 'Males 65 to 74 Poverty',
       'Males 75 > Poverty', 'B01003_001E', 'state code', 'state',
       'county code', 'county', 'year'],
      dtype='object')

,Sample Population,Population Poverty,Females Poverty,Females < 5 Poverty,Females 5 Poverty,Females 6 to 11 Poverty,Females 12 to 14 Poverty,Females 15 Poverty,Females 16 to 17 Poverty,Females 18 to 24 Poverty,...,Males 45 to 54 Poverty,Males 55 to 64 Poverty,Males 65 to 74 Poverty,Males 75 > Poverty,B01003_001E,state code,state,county code,county,year
1187,16129.0,2185.0,1197.0,133.0,16.0,85.0,37.0,23.0,48.0,124.0,...,118.0,95.0,59.0,69.0,16325.0,27,MN,001,Aitkin,2010
1188,323359.0,20730.0,11736.0,992.0,302.0,1123.0,535.0,124.0,385.0,1314.0,...,1119.0,682.0,240.0,243.0,327544.0,27,MN,003,Anoka,2010
1189,31644.0,3554.0,2010.0,251.0,69.0,109.0,50.0,21.0,75.0,312.0,...,146.0,205.0,70.0,83.0,32274.0,27,MN,005,Becker,2010
1190,42043.0,8383.0,4528.0,581.0,98.0,406.0,128.0,88.0,97.0,1021.0,...,433.0,130.0,80.0,96.0,43781.0,27,MN,007,Beltrami,2010
1191,37411.0,4428.0,2570.0,213.0,100.0,214.0,84.0,25.0,44.0,585.0,...,153.0,103.0,60.0,50.0,38148.0,27,MN,009,Benton,2010

In [84]:
#need to determine per county poverty percentage for each year

minnesota_data['Poverty %'] = (minnesota_data['Population Poverty'] / minnesota_data['Sample Population']) *100
minnesota_data['Poverty %']

1187     13.547027
1188      6.410831
1189     11.231197
1190     19.939110
1191     11.836091
           ...
36822    13.030167
36823    13.534658
36824    13.441960
36825     4.885039
36826     9.937691
Name: Poverty %, Length: 1044, dtype: float64

In [85]:
#filtering 
minnesota_data.groupby("year")["Poverty %"].describe()

,count,mean,std,min,25%,50%,75%,max
year,,,,,,,,
2010,87.0,10.898861,3.402141,4.653798,8.889552,10.744783,12.433949,23.601066
2011,87.0,11.384684,3.599338,5.012521,9.041550,11.242324,12.836302,26.444111
2012,87.0,11.563574,3.666374,5.168681,9.036022,11.452958,13.028723,27.164401
2013,87.0,11.684700,3.505883,4.961699,9.315323,11.607496,13.346301,26.196660
2014,87.0,11.757248,3.646107,4.355141,9.455015,11.401833,13.493838,26.734505
2015,87.0,11.669400,3.454009,4.401726,9.312099,11.408104,13.556139,24.926145
2016,87.0,11.253355,3.302798,4.112793,9.059472,11.502467,13.035114,22.405486
2017,87.0,11.038760,3.360757,4.020604,8.842783,11.304488,12.535072,22.668153
2018,87.0,10.752444,3.257427,3.961521,8.649929,10.582895,12.760972,20.874419
2019,87.0,10.341615,3.152533,4.087131,8.373341,10.319653,12.175556,23.260991
2020,87.0,9.977420,2.994941,3.393835,7.986329,9.808160,11.979065,21.034996
2021,87.0,10.053256,2.933671,3.797589,8.044683,9.987422,11.803994,21.066566

In [86]:
minnesota_data.head()

,Sample Population,Population Poverty,Females Poverty,Females < 5 Poverty,Females 5 Poverty,Females 6 to 11 Poverty,Females 12 to 14 Poverty,Females 15 Poverty,Females 16 to 17 Poverty,Females 18 to 24 Poverty,...,Males 55 to 64 Poverty,Males 65 to 74 Poverty,Males 75 > Poverty,B01003_001E,state code,state,county code,county,year,Poverty %
1187,16129.0,2185.0,1197.0,133.0,16.0,85.0,37.0,23.0,48.0,124.0,...,95.0,59.0,69.0,16325.0,27,MN,001,Aitkin,2010,13.547027
1188,323359.0,20730.0,11736.0,992.0,302.0,1123.0,535.0,124.0,385.0,1314.0,...,682.0,240.0,243.0,327544.0,27,MN,003,Anoka,2010,6.410831
1189,31644.0,3554.0,2010.0,251.0,69.0,109.0,50.0,21.0,75.0,312.0,...,205.0,70.0,83.0,32274.0,27,MN,005,Becker,2010,11.231197
1190,42043.0,8383.0,4528.0,581.0,98.0,406.0,128.0,88.0,97.0,1021.0,...,130.0,80.0,96.0,43781.0,27,MN,007,Beltrami,2010,19.939110
1191,37411.0,4428.0,2570.0,213.0,100.0,214.0,84.0,25.0,44.0,585.0,...,103.0,60.0,50.0,38148.0,27,MN,009,,2010,11.836091

In [87]:
# Specify the file path where you want to save the CSV file
csv_file_path = 'minnesota_poverty_data2.csv'

# Output the DataFrame to a CSV file
minnesota_data.to_csv(csv_file_path, index=False)

# Display a message indicating success
print(f"DataFrame has been successfully saved to {csv_file_path}")

DataFrame has been successfully saved to minnesota_poverty_data2.csv