In [1]:
import pandas as pd
from pathlib import Path

In [71]:
arsenic_load = Path("Resources/water_arsenic.csv")
arsenic_data = pd.read_csv(arsenic_load)
arsenic_data = arsenic_data.dropna()
arsenic_data[['max', 'units']] = arsenic_data['max'].str.split(' ', n=1, expand=True)
arsenic_data['max'] = arsenic_data['max'].astype(float)
arsenic_data['year'] = arsenic_data['year'].astype(int)
arsenic_county = arsenic_data.groupby(['year', 'countyServed'])['max'].max().reset_index()

arsenic_county

      year     countyServed    max
0     1998           Aitkin   4.40
1     1998            Anoka  11.00
2     1998           Becker  11.00
3     1998         Beltrami   3.80
4     1998           Benton   0.50
...    ...              ...    ...
1898  2022         Watonwan   8.94
1899  2022           Wilkin   3.97
1900  2022           Winona   3.03
1901  2022           Wright   7.53
1902  2022  Yellow Medicine   4.06

[1903 rows x 3 columns]

In [72]:
radium_load = Path("Resources/water_radon.csv")
radium_data = pd.read_csv(radium_load)
radium_data = radium_data.dropna()
radium_data[['max', 'units']] = radium_data['max'].str.split(' ', n=1, expand=True)
radium_data['max'] = radium_data['max'].astype(float)
radium_data['year'] = radium_data['year'].astype(int)
radium_county = radium_data.groupby(['year', 'countyServed'])['max'].max().reset_index()

radium_county

      year     countyServed   max
0     1998            Anoka   5.6
1     1998       Blue Earth   5.6
2     1998            Brown  13.0
3     1998          Carlton   0.2
4     1998           Carver   5.4
...    ...              ...   ...
1794  2022         Watonwan   5.6
1795  2022           Wilkin   2.1
1796  2022           Winona   5.9
1797  2022           Wright  10.9
1798  2022  Yellow Medicine   1.1

[1799 rows x 3 columns]

In [73]:
path_poverty = Path("Resources/minnesota_poverty_data.csv")
poverty_df = pd.read_csv(path_poverty)
poverty_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources\\minnesota_poverty_data.csv'